@import '~bootstrap/scss/bootstrap';



.main-wrapper {
    height: calc(100vh - 62px);

}

aside {
    width: 180px;

    ul {
        list-style: none;

        li {
            line-height: 35px;

            a {
                text-decoration: none;
                color: white;
                font-size: .9rem;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.crud-table {
    td:first-child {
        width: 300px;
    }

    input {
        border: none;
        outline: none;
    }
}